<h1>Participants</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @slam.participants.each do |participant| %>
  <tr>
    <td><%= link_to participant.poet.poetName, participant %></td>
    <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure? Any scores connected to this Participant will be delted.' } %></td>
  </tr>
<% end %>
</table>

<br />

